<div class="jumbotron">
    <h1 class="display-4">Welcome to Doggie Bag Locator!</h1>
    <p class="lead">Find and share the best doggie bag locations in your area.</p>
    <hr class="my-4">
    <p>Get started by exploring locations or adding your own comments.</p>
    <a class="btn btn-primary btn-lg" href="/locations" role="button">View Locations</a>
    <a class="btn btn-secondary btn-lg" href="/comments" role="button">Add a Comment</a>
</div>